<div class="home-component-header">
  Home Page
  <button ng-show="$ctrl.editing" ng-click="$ctrl.setLaborFactors()">Update Labor Factors</button>
  <table>
    <thead>
      <tr>
        <th class="tablePadding">Schedule</th>
        <th class="tablePadding">Class</th>
        <th ng-repeat="size in $ctrl.sizes">
          {{size}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pair in $ctrl.scheduleClassPairs" ng-init="outerIndex = $index" ng-click="$ctrl.editLaborFactor()">
        <td>
          {{pair.schedule}}
        </td>
        <td>
          {{pair.class}}
        </td>
        <td ng-repeat="size in $ctrl.sizes">
          <span ng-hide="$ctrl.editing">
            {{$ctrl.scheduleClassPairs[outerIndex][size]}}
          </span>
          <input type="text" ng-show="$ctrl.editing" ng-model="$ctrl.editValues[outerIndex][size]" ng-value="$ctrl.getLaborFactor($ctrl.scheduleClassPairs[outerIndex].schedule, $ctrl.scheduleClassPairs[outerIndex].class, size)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>